channels:
  - conda-forge
  - nodefaults
dependencies:
  - ipykernel
  # Dependencies for VS Code IDE
  - code-server>=3.2
  - jupyter-vscode-proxy
  - openssh
  - pre_commit
  # Pin down to avoid https://github.com/holoviz/pyviz_comms/issues/143
  - pyviz_comms==3.0.4
  - pip
  - pip:
    - jupyter-sshd-proxy
    - jupyterlab-bxplorer
variables:
  TITILER_STAC_ENDPOINT: 'https://openveda.cloud/api/stac'
  TITILER_ENDPOINT: 'https://openveda.cloud/api/raster'
  STAC_CATALOG_NAME: 'VEDA STAC'
  STAC_CATALOG_URL: 'https://openveda.cloud/api/stac'
  STAC_BROWSER_URL: 'https://openveda.cloud/'
