name: Build Notebook Container
on: [push] # You may want to trigger this Action on other things than a push.
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: checkout files in repo
      uses: actions/checkout@main

    - name: Build and push Docker image with jupyter-repo2docker
      run: |
        pip install jupyter-repo2docker
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

        # Build with GH_PAT as build arg
        jupyter-repo2docker \
          --no-run \
          --user-name=jovyan \
          --user-id=1000 \
          --image-name=${{ secrets.DOCKER_USERNAME }}/disasters-notebook-veda-image:${GITHUB_SHA::12} \
          --cache-from=${{ secrets.DOCKER_USERNAME }}/disasters-notebook-veda-image:latest \
          --build-arg GH_PAT=${{ secrets.GH_PAT }} \
          .

        # Tag and push
        docker tag ${{ secrets.DOCKER_USERNAME }}/disasters-notebook-veda-image:${GITHUB_SHA::12} ${{ secrets.DOCKER_USERNAME }}/disasters-notebook-veda-image:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/disasters-notebook-veda-image:${GITHUB_SHA::12}
        docker push ${{ secrets.DOCKER_USERNAME }}/disasters-notebook-veda-image:latest